<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="content">
        <h1>Log In</h1>

          <div class="user-form">
            <%= form_for(:session, url: '/log_in') do |f| %> 

              <div class="input-group input-group-sm">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                </div>
              </div>

              <div class="input-group input-group-sm">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <div class="field">
                  <%= f.password_field :password, autofocus: true, placeholder: "Password", class: "form-control" %>
                </div>
              </div>
              <br>
              <%= f.submit "Log in", class: "btn btn-custom" %>
            <% end %>
          </div>
        
        </div>
      </div>
    </div>
  </div>

</div>