<table>
  <tbody>
    <tr>
      <td><h2>Welcome</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with <%= @appname %>!</p></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><p>We are happy to have you. Please let us know if you have any questions.</p></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><p>Sincerely,</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team</strong></p></td>
    </tr>
  </tbody>
</table>