<div class="comments">
  <h3 class="comment-headings">What others have said</h3>
  <% @comments.each do |comment| %>
    <hr>
    <p><%= comment.user.first_name %>, <i><%= comment.created_at.time.to_formatted_s(:long) %></i>
      <% if current_user && (current_user.admin? || current_user == comment.user) %>
        <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, article_comment_path(@article, comment), method: :delete, data: { confirm: 'Are you sure?' }, id: "comment-delete" %>
      <% end %>
    </p>
    <p><%= comment.body %></p>
  <% end %>
</div>