<% if @article.errors.any? %>
  <div id="error-explanation">
    <h4>Sorry, there is/are <%= pluralize(@article.errors.count, "error") %>:</h4>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if current_user %>
  <hr>
  <h4 class="comment-headings">Leave a comment</h4>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Comment", class: "comment-headings" %><br>
      <%= f.text_area :body, autofocus: true, class: "form-control", rows: 2, maxlength: 100, id: "text-area-noresize" %>
    </p> 
    <p>
      <%= f.submit "Submit", class: "btn btn-navigate" %>
    </p>
  <% end %>
<% end %>