<% if @article.errors.any? %>
  <div id="error-explanation">
    <h4>Sorry, there is/are <%= pluralize(@article.errors.count, "error") %>:</h4>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :title, "Your title" %><br>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :body, "Your article" %><br>
    <%= f.text_area :body, class: "form-control", rows: 20, maxlength: 5000, id: "text-area-noresize" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-custom" %>
  </div>
<% end %>