<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-content">
      <h1>Welcome Abroad</h1>
      <h2>A blog dedicated to living abroad</h2>
      <br>
      <p>
        <%= link_to("Read Articles", '/articles', class: "btn btn-custom btn-lg") %>
        <% if current_user %>
          <%= link_to("Write an Article", '/new_article', class: "btn btn-custom btn-lg") %>
        <% else %>
          <%= link_to("Sign Up", '/sign_up', class: "btn btn-custom btn-lg") %>
        <% end %>
      </p>
    </div>
  </div><!-- end of .container -->
</div>

<div class="container">
  <div class="welcome-intro">
    <% if current_user %>
      <h2>Welcome back, <i><%= current_user.first_name %>!</i></h2>
      <hr>
    <% end %>

    <h2>Share your experiences in another country</h2>
    <p>For all those living, studying, or working in a country other than their own.<br>
    Read articles by others, write articles of your own, comment on what others have said!</p>
  </div>

  <div class="welcome-articles">
    <h3>Here are some recent articles</h3>
      <% @articles.each do |article| %>
        <hr>
        <h4><%= link_to article.title, article %></h4>
        <p>By <%= article.user.first_name %>, <%= article.created_at.time.to_formatted_s(:long) %></p>
      <% end %>
  </div>

</div><!-- end of .container -->

<div class="container">
  <div class="row">
    <div class="read-write-share">
      <div class="col-xs-4">
        <%= image_tag("icons/read.png", class: "img-responsive") %>
        <p>Read</p>
      </div>
      <div class="col-xs-4">
        <%= image_tag("icons/write.png", class: "img-responsive") %>
        <p>Write</p>
      </div>
      <div class="col-xs-4">
        <%= image_tag("icons/share.png", class: "img-responsive") %>
        <p>Share</p>
      </div>
    </div>
  </div><!-- end of .row -->
</div><!-- end of .container -->

<div class="extra-space"></div>