<div class="general-content">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
      <h1>Here is a list of all articles</h1>
      <hr>
      <% @articles.each do |article| %>
        <h3><%= link_to article.title, article %></h3>
        <p>By <%= article.user.first_name %>, <%= article.created_at.time.to_formatted_s(:long) %></p>
        <hr>
      <% end %>
    </div>
  </div><!-- end of .row -->

</div>

<div class="extra-space"></div>