<div class="general-content">
  <h1>Write an article</h1>
  <h3>Share your thoughts and experiences</h3>
  <p>Please respect the guidelines for submissions: no bad language or anything that might be offensive. (Otherwise we'll have to remove it.)</p>

  <%= render 'new_article' %>
</div>

<div class="extra-space"></div>