<div class="general-content">
  <h1>Your Search</h1>

  <div class="container">
    <div class="row">
      <% if @articles.present? %>
        <h4>Here are the results of your search for "<%= params[:q] %>":</h4>
          <% @articles.each do |article| %>
            <div class="row">
              <div class="col-md-12">
                <%= link_to article.title, article %>
              </div>
            </div><!-- end of .row -->
          <% end %>
      <% else %>
        <h4>Sorry, there are no articles containing "<%= params[:q] %>".</h4>
      <% end %>
    </div><!-- end of .row -->
  </div><!-- end of .container -->

</div>

<div class="extra-space"></div>