<div class="general-content">
  <h3><%= @article.title %></h3>
  <p>By <%= @article.user.first_name %>, <%= @article.created_at.time.to_formatted_s(:long) %></p>
  <br>
  <p><%= @article.body %></p>
    <% if current_user && (current_user.admin? || current_user == @article.user) %>
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-navigate" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-navigate" %>
    <% end %>

  <%= render 'new_comment' %>
  <hr>
  <%= render 'comments' %>
  <hr>
  <%= link_to 'Back', articles_path, class: "btn btn-navigate" %>

</div>