<% if @user.errors.any? %>
  <div id="error-explanation">
    <h4>Sorry, there is/are <%= pluralize(@user.errors.count, "error") %>:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <%= form_for(@user) do |f| %>

  <div class="row">

    <div class="col-md-4">
      <% if @user.picture.present? %>
        <%= image_tag @user.picture.url, class: "img-responsive" %>
        <label><%= f.check_box :remove_picture %> Remove picture</label>
      <% else %>
        <div id="profile-picture"></div>
        <br>
        <div class="field">
          <%= f.label "Upload picture" %>
          <%= f.file_field :picture %>
        </div>
      <% end %>
    </div><!-- end of .col-md-4 -->

    <div class="col-md-6">
      <div class="field">
        <%= f.text_field :username, autofocus: true, placeholder: "User Name", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :home_country, placeholder: "Home Country", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :current_country, placeholder: "Curent Country", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :languages, placeholder: "Languages Spoken", class: "form-control" %>
      </div>
      <br>
      <p><i>Tell us a little about yourself.</i></p>
      <div class="field">
        <%= f.text_area :description, class: "form-control", rows: 10, maxlength: 400, id: "text-area-noresize" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-custom" %>
      </div>
    </div><!-- end of .col-md-6 -->

  </div><!-- end of .row -->

  <% end %><!-- end of form_for -->

</div><!-- end of .container -->
