<% if @user.errors.any? %>
  <div id="error-explanation">
    <h4>Sorry, there is/are <%= pluralize(@user.errors.count, "error") %>:</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="user-form">
  <%= form_for(@user) do |f| %>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <div class="field">
        <%= f.text_field :username, placeholder: "User Name", class: "form-control" %>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype your Password" %>
      </div>
    </div>
    <br>
    <%= f.submit "Create an account", class: "btn btn-custom" %>

  <% end %><!-- end of form_for -->

</div>