<div class="general-content">
  <h1>My Profile</h1>
  <h3>Edit your profile here.</h3>
  <br>

  <div class="user-form">
    
    <%= render 'edit_profile' %>

    <%= link_to 'Back', '/my_profile', class: "btn btn-navigate" %>
  </div>
</div>