<div class="general-content">
  <h1>Here are all of our contributors</h1>
  <br>

  <div class="container-fluid">
    <div class="row">
      <% @users.each do |user| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <hr>
            <div class="col-xs-6">
              <%= image_tag(user.picture.thumb.url, class: "img-responsive") if user.picture.thumb.present? %>
            </div>
            <div class="col-xs-6">
              <p><b>Username:</b> <%= user.username %></p>
              <p><b>Name:</b> <%= user.first_name %></p>
              <p><b>Home Country:</b> <%= user.home_country %></p>
              <p><b>Current Country:</b> <%= user.current_country %></p>
              <%= link_to 'See full bio', user, class: "btn btn-navigate" %>
              <br>
            </div>
          </div><!-- end of .col-md-4 -->
      <% end %>
    </div><!-- end of .row -->
    <hr>
  </div><!-- end of .container-fluid -->

</div>

<div class="extra-space"></div>