<div class="general-content">
  <h2>My Profile</h2>
  <br>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <% if @user.picture.present? %>
          <%= image_tag @user.picture.url, class: "img-responsive" %>
        <% else %>
          <div id="profile-picture"></div>
        <% end %>
      </div>

      <div class="col-md-8">
        <p><b>Username</b>
        <%= @user.username %></p>
        <p><b>First Name</b>
        <%= @user.first_name %></p>
        <p><b>Home Country</b>
        <%= @user.home_country %></p>
        <p><b>Current Country</b>
        <%= @user.current_country %></p>
        <p><b>Languages</b>
        <%= @user.languages %></p>
        <p><b>Description</b>
        <%= @user.description %></p>
        <br>
        <%= link_to 'Edit Profile', '/edit_profile', class: "btn btn-navigate" %>
      </div>

      <div class="col-md-12">
        <hr>
        <h4>Articles written</h4>

        <% if @articles %>
          <% @articles.each do |article| %>
            <p><%= link_to article.title, article %></p>
          <% end %>
        <% end %>
        <hr>
      </div>

    </div><!-- end of .row -->
  </div><!-- end of .container -->

</div>
