<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="content">

        <h1>Sign Up</h1>
        <%= render 'sign_up' %>

      </div>
    </div>
  </div>  
</div>