<div class="container">
  <h2><%= @user.username %></h2>
  <br>
  <div class="row">

    <div class="col-md-4">
      <% if @user.picture.present? %>
        <%= image_tag @user.picture.url, class: "img-responsive" %>
      <% else %>
        <div id="profile-picture"></div>
      <% end %>
      <br>
    </div>

    <div class="col-md-4">
      <p><b>Username</b>
      <%= @user.username %></p>
      <p><b>First Name</b>
      <%= @user.first_name %></p>
      <p><b>Home Country</b>
      <%= @user.home_country %></p>
      <p><b>Current Country</b>
      <%= @user.current_country %></p>
      <p><b>Languages</b>
      <%= @user.languages %></p>
      <p><b>Description</b>
      <%= @user.description %></p>
    </div>

  </div><!-- end of .row -->
</div><!-- end of .container -->

<div class="extra-space"></div>
