/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */

html {
  /* For Sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}

/* Fonts */

h1, h2, h3, h4, p {
  font-family: Helvetica, Arial, sans-serif;
}

/* Buttons and Navigation */

.btn-navigate {
  background-color: #cc0000;
  border: 1px solid #000;
  color: #fff;
  margin: 5px auto;
}

.btn-custom {
  background-color: #cc0000;
  border: 1px solid #cc0000;
  color: #fff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-color: #b70000;
  border: 1px solid #cc0000;
  color: #000;
  border: 1px solid #000;
}

/* Forms */

.user-form {
  max-width: 500px;
}

/* Navigation Bar */

.navbar-default {
  background-color: #ccc;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* General Pages */

.general-content {
  width: 80%;
  margin: 5% auto 10% auto;
}

.content {
  margin-top: 20%;
}

/* Home */

.jumbotron {
  background: url("world-map.jpg") center center;
  background-size: cover;
}

.jumbotron-content {
  text-align: center;
}

.welcome-intro {
  max-width: 600px;
  text-align: left;
  margin: 0 auto 25px auto;
}

.welcome-intro p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.welcome-articles {
  max-width: 600px;
  padding: 5px 10px 10px 10px;
  border: 1px solid #000;
  margin: 15px auto;
}

.welcome-articles h3 {
  margin: 3px 0;
  text-align: center;
}

.read-write-share {
  width: 90%;
  margin: 25px auto 0 auto;
}

.read-write-share img {
  height: 75px;
  margin: 0 auto;
}

.read-write-share p {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

/* Article Pages */

/* Show */

.comment-headings {
  color: #666;
}

#comment-delete {
  color: #000;
}

#comment-delete:hover {
  background-color: none;
  color: red;
  text-decoration: none;
}

.show-browse-links {
  text-align: center;
}

.show-browse-links p {
  display: inline;
  font-size: 1.5em;
  font-style: italic;
}

/* New */

#text-area-noresize {
  resize: none;
}

/* Users */

#profile-picture {
  width: 300px;
  height: 300px;
  background-color: #d3d3d3;
}

#profile-picture .img-responsive {
  max-width: 280px;
  max-height: 280px;
}

/* Footer */

footer {
  /* For sticky footer */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #ccc;
}

footer > .container {
  width: 90%;
  min-width: 430px;
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.footer-links {
  display: inline-block;
}

.footer-links a {
  text-decoration: none;
  background-color: transparent;
}

.footer-links a:hover {
  color: #000;
}

.socia-media-links {
  display: inline-block;
  float: right;
}

.btn-social-icon {
  margin-left: 10px;
}

.socia-media-links p {
  margin-left: 10px;
  font-style: italic;
}

.footer-content {
  display: inline-block;
  margin: 10px 0;
}

.footer-content p {
  vertical-align: middle;
}

footer p {
  font-size: 1.1em;
  text-decoration: none;
}

.footer-content a {
  text-decoration: none;
}

/* Misc */

#error-explanation {
  color: red;
}

.alert {
  max-width: 550px;
  text-align: center;
  margin: 0 auto; 
}

.extra-space {
  height: 50px;
}

/* Media Queries */

@media (max-width: 500px) {
  .socia-media-links {
    display: none;
  }
}