<footer>
  <div class="container">
    <div class="footer-content">
      <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Impressum</a><br>
      Copyright 2016, Abroad.</p>
    </div>

    <div class="socia-media-links">
      <p>Connect on</p>

      <a class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-instagram">
        <span class="fa fa-instagram"></span>
      </a>
    </div>

  </div><!-- end of .container -->
</footer>