<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Abroad", '/home', class: "navbar-brand") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li></li>
        <li><%= link_to("Articles", '/articles') %><span class="sr-only">(current)</span></li>
        <li><a href="/contributors">Contributors</a></li>
      </ul>
      <div class="navbar-form navbar-left">
        <%= form_tag("/search_results", method: "get", class: "search-form") do %>
          <%= text_field_tag :q, nil, class: "form-control", placeholder: "Enter a keyword" %>
          <%= submit_tag("Search", class: "btn btn-custom") %>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to("New Article", '/new_article') %></li>
          <li><%= link_to("My Profile", '/my_profile') %></li>
          <li><%= link_to("Logout", '/log_out') %></li>
        <% else %>
          <li><%= link_to "Sign Up", '/sign_up' %></li>
          <li><%= link_to("Log In", '/log_in') %></li>
        <% end %>
      </ul>
    </div><!-- .navbar-collapse -->

  </div><!-- .container-fluid -->
</nav>