<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <% if notice %>
      <p class="alert alert-warning"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>

</html>